function klogs() {
  kubectl -n $1 get po | grep ^$2 | awk '{ print $1 }' | xargs kubectl -n $1 logs $3
}

function maven-project-version() {
  mvn -q \
    -Dexec.executable=echo \
    -Dexec.args='${project.version}' \
    --non-recursive \
    exec:exec
}

function process-on-port() {
  lsof -i tcp:$1
}
