source ~/.vimrc

"" Turn off the error bell
set visualbell
set noerrorbells
set mapleader = " "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=3

""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" "For a list of action ids, run :actionlist {pattern?}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" Map <leader>e and <leader>E to go to next/previous error
nnoremap <leader>e :action GotoNextError<CR>
nnoremap <leader>E :action GotoPreviousError<CR>

"" Show error on hover
nnoremap gh :action ShowErrorDescription<CR>

"" Refactoring
nnoremap <leader>rR :action RefactoringMenu<CR>
nnoremap <leader>rr :action RenameElement<CR>
vnoremap <leader>rm :action ExtractMethod<CR>
nnoremap <leader>rv :action IntroduceVariable<CR>
nnoremap <leader>rc :action IntroduceConstant<CR>

" Code inspection
nnoremap <leader>vi :action GotoImplementation<CR>
nnoremap <leader>vu :action FindUsages<CR>

"" Running stuff
nnoremap gr :action RunMenu<CR>
nnoremap gR :action RunAnything<CR>

"" Terminal
map <M-x> :action ActivateTerminalToolWindow<CR>

"" Show file structure (methods etc)
nnoremap <Leader>F :action FileStructurePopup<CR>

"" Go to Select In menu (select terminal, file tree etc)
nnoremap <leader>ss :action SelectIn<CR>

"" Toggle breakpoint
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>B :action ViewBreakpoints<CR>

"" Close everything but editor - note that for this to work you need to close all Tool Windows and
"" (from Run Anything) run 'Store Current Layout as Default'
nnoremap <C-w>o :action RestoreDefaultLayout<CR>

"" Use <C-g> as <Esc>, similar to Emacs
nnoremap <C-g> <Esc>
vnoremap <C-g> <Esc>
inoremap <C-g> <Esc>

"" File searching
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <C-p> :action GotoClass<CR>
nnoremap <C-S-p> :action GotoFile<CR>
" For some reason this doesn't work with <leader><leader> or <leader><space>
nnoremap <space><space> :action GotoFile<CR>

"" <leader>gg maps to Magit like in emacs
"" NOTE Magit needs to be setup as a custom external command (named Magit)!
nnoremap <leader>gg :action Tool_External Tools_Magit<CR>

" Find more examples here: https://jb.gg/share-ideavimrc

